{% extends 'admin/base_site.html' %}

{% load static %}

{% block branding %}
    <div class="head">
        <h1 id="name">Admin Dashboard</h1>
    </div>
{% endblock %}

{% block nav-global %}
    <img class="brand_img" src="{% static 'images/ic_launcher.png'%}" width="50" height="50" alt="logo">
{% endblock %}

{% block content %}
    {% block schema_list %}
    <div class=”results”>
        <table>
            {% for schema in schema_list %} {{ schema_list.schema }}
                {% for data in schema.entity %}
                    {% for json in data %}

                        <tr>
                            <th scope="row">testTH</th>
                            <td>{{ data }}</td>

                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </table>
    </div>


    <table>
        <tr>
            {% for schema in schema_list %}
                <th>{{ schema }}</th>

            {% endfor %}
        </tr>
        {% for schema in schema_list %}
        <tr>
            <td>{{ schema_list.schema }}</td>

        </tr>
        {% endfor %}
    </table>

    {% endblock %}
{% endblock %}
