{% extends 'admin/base_site.html' %}

{% load static %}
{% load schema_list %}

{% block content %}
    {% block schema_list %}
    <div class=”results”>
    {% for schema in schema_list %}
        <div class="text">
            <h1>Json-schemas for {{ schema }}</h1>
        </div>

        <table  class="result_list">
            {% with json_data=schema_list|getattr:schema %}
                {% for version in json_data %}
                        <thead>
                            <tr>
                                <th> <a href="/admin/schema_list/{{ schema }}/{{ version }}"> {{ schema }}  {{ version }} </a></th>
                            </tr>
                        </thead>
                {% endfor %}
            {% endwith %}
        </table>
        <br> <br>
    {% endfor %}
    </div>
    {% endblock %}
{% endblock %}
